.Jokes {
  display: flex;
  width: 80%;
  height: 80%;
}

.Jokes-sidebar {
  background: #9575cd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1),
    inset 0 0 25px #7e57c2;
  z-index: 2;
}

.Jokes-title {
  font-size: 4rem;
  margin: 2rem;
  color: white;
  font-weight: 300;
  letter-spacing: 0.6rem;
}

.Jokes-title span {
  font-weight: 700;
  letter-spacing: 0;
}

.Jokes-sidebar img {
  width: 50%;
  border-radius: 50%;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
}

.Jokes-jokelist {
  height: 90%;
  width: 70%;
  background: white;
  align-self: center;
  overflow: scroll;
}

.Jokes-spinner {
  color: white;
  text-align: center;
}

.Jokes-getmore {
  font-size: 1.5rem;
  width: 50%;
  border-radius: 2rem;
  padding: 1rem 2rem;
  color: white;
  font-weight: 700;
  border: none;
  outline: none;
  margin: 2rem;
  cursor: pointer;
  word-spacing: 0.5rem;
  background: linear-gradient(
    135deg,
    rgba(179, 229, 252, 1) 0%,
    rgba(179, 229, 252, 1) 50%,
    rgba(240, 98, 146, 1) 50%,
    rgba(240, 98, 146, 1) 100%
  );
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
  transition: 0.6s cubic-bezier(0.2, 1, 0.2, 1);
}

.Jokes-getmore:hover {
  transform: translateY(-2px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
}
